<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %></head>
<body>
    <div class="container">        
        <div class="row">
            <div class="col-sm-12">
                <h1>Shows</h1>
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Season</th>
                            <th>Show Number</th>
                            <th>Air Date</th>
                        </tr>
                    </thead>
                    <tbody> <% data._embedded.episodes.forEach(function(content){ %>
                        <tr>
                            <td><a href='/episodes/<%=content.id%>'><%=content.name%></a></td>
                            <td><%=content.season%></td>
                            <td><%=content.number%></td>
                            <td><%=content.airdate%></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <% include partials/page/footer.ejs %>
    <% include partials/page/jsdefaults.ejs %>
</body>
</html>